* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0F8FF;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5em;
    height: 500px;
}

.title {
    font-size: 2.5rem;
    color: #222;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 200px;
}

.options-container label {
    display: flex;
    align-items: center;
}

.options-container label span {
    display: block;
    font-size: 1.2rem;
}

.options-container label input[type="checkbox"] {
    all: unset;
    position: relative;
    display: inline-block;
    border: dashed 1px #CCC;
    width: 20px;
    height: 20px;
    background: #EEE;
    cursor: pointer;
    margin: 0 0.5em;
}

.options-container label input[type="checkbox"]:checked {
    border: dashed 1px transparent;
    background: #2DE88F;
}

.options-container label input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: calc(50% - 6px);
    top: calc(50% - 6px);
    border-radius: 50%;
    background: #187A4C;
}

.options-container label input[type="number"] {
    all: unset;
    background-color: #EEE;
    border: dashed 1px #CCC;
    height: 25px;
    margin-right: 0.5em;
    padding: 0 0.2em;
    width: 30px;
}

.options-container button {
    margin: 0 auto;
    background-color: #EEE;
    border: dashed 1px #CCC;
    font-size: 1.2rem;
    padding: 0.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.options-container button:hover {
    background-color: #2DE88F;
}

.password-container label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-container label span {
    font-size: 1.4rem;
    margin-bottom: 0.5em;
}

.password-container label input {
    background-color: #EEE;
    border: dashed 1px #CCC;
    padding: 0.2em;
    font-size: 1.2em;
    width: 150px;
    text-align: center;
    cursor: text;
}